QNBFinansGIB/Web References/GIBUserService/userService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://service.csap.cs.com.tr/" targetNamespace="http://service.csap.cs.com.tr/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="logout" type="tns:logout" />
  <xs:element name="logoutResponse" type="tns:logoutResponse" />
  <xs:element name="wsLogin" type="tns:wsLogin" />
  <xs:element name="wsLoginResponse" type="tns:wsLoginResponse" />
  <xs:complexType name="wsLogin">
    <xs:sequence>
      <xs:element minOccurs="0" name="userId" type="xs:string" />
      <xs:element minOccurs="0" name="password" type="xs:string" />
      <xs:element minOccurs="0" name="lang" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="wsLoginResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="logout">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="logoutResponse">
    <xs:sequence />
  </xs:complexType>
</xs:schema>