SourceCode/QNBFinansGIB/Web References/GIBEFatura/connectorService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://service.connector.uut.cs.com.tr/" targetNamespace="http://service.connector.uut.cs.com.tr/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="https://connectortest.efinans.com.tr:443/connector/ws/connectorService?xsd=1" namespace="http://service.connector.uut.cs.com.tr/" />
    </xsd:schema>
  </types>
  <message name="gelenBelgeDurumSorgula">
    <part name="parameters" element="tns:gelenBelgeDurumSorgula" />
  </message>
  <message name="gelenBelgeDurumSorgulaResponse">
    <part name="parameters" element="tns:gelenBelgeDurumSorgulaResponse" />
  </message>
  <message name="gelenBelgeleriListele">
    <part name="parameters" element="tns:gelenBelgeleriListele" />
  </message>
  <message name="gelenBelgeleriListeleResponse">
    <part name="parameters" element="tns:gelenBelgeleriListeleResponse" />
  </message>
  <message name="Exception">
    <part name="fault" element="tns:Exception" />
  </message>
  <message name="yereleAktarilacakBelgeleriAl">
    <part name="parameters" element="tns:yereleAktarilacakBelgeleriAl" />
  </message>
  <message name="yereleAktarilacakBelgeleriAlResponse">
    <part name="parameters" element="tns:yereleAktarilacakBelgeleriAlResponse" />
  </message>
  <message name="gelenBelgeleriAl">
    <part name="parameters" element="tns:gelenBelgeleriAl" />
  </message>
  <message name="gelenBelgeleriAlResponse">
    <part name="parameters" element="tns:gelenBelgeleriAlResponse" />
  </message>
  <message name="belgeGonder">
    <part name="parameters" element="tns:belgeGonder" />
  </message>
  <message name="belgeGonderResponse">
    <part name="parameters" element="tns:belgeGonderResponse" />
  </message>
  <message name="gidenBelgeDurumSorgula">
    <part name="parameters" element="tns:gidenBelgeDurumSorgula" />
  </message>
  <message name="gidenBelgeDurumSorgulaResponse">
    <part name="parameters" element="tns:gidenBelgeDurumSorgulaResponse" />
  </message>
  <message name="gelenBelgeXmlleriniAl">
    <part name="parameters" element="tns:gelenBelgeXmlleriniAl" />
  </message>
  <message name="gelenBelgeXmlleriniAlResponse">
    <part name="parameters" element="tns:gelenBelgeXmlleriniAlResponse" />
  </message>
  <message name="efaturaKullanicisi">
    <part name="parameters" element="tns:efaturaKullanicisi" />
  </message>
  <message name="efaturaKullanicisiResponse">
    <part name="parameters" element="tns:efaturaKullanicisiResponse" />
  </message>
  <message name="eFaturaKayitliKullaniciListele">
    <part name="parameters" element="tns:eFaturaKayitliKullaniciListele" />
  </message>
  <message name="eFaturaKayitliKullaniciListeleResponse">
    <part name="parameters" element="tns:eFaturaKayitliKullaniciListeleResponse" />
  </message>
  <message name="gelenBelgeleriIndir">
    <part name="parameters" element="tns:gelenBelgeleriIndir" />
  </message>
  <message name="gelenBelgeleriIndirResponse">
    <part name="parameters" element="tns:gelenBelgeleriIndirResponse" />
  </message>
  <message name="gidenBelgeleriIndir">
    <part name="parameters" element="tns:gidenBelgeleriIndir" />
  </message>
  <message name="gidenBelgeleriIndirResponse">
    <part name="parameters" element="tns:gidenBelgeleriIndirResponse" />
  </message>
  <message name="efaturaKullaniciBilgisi">
    <part name="parameters" element="tns:efaturaKullaniciBilgisi" />
  </message>
  <message name="efaturaKullaniciBilgisiResponse">
    <part name="parameters" element="tns:efaturaKullaniciBilgisiResponse" />
  </message>
  <message name="faturaTarihcesiSorgula">
    <part name="parameters" element="tns:faturaTarihcesiSorgula" />
  </message>
  <message name="faturaTarihcesiSorgulaResponse">
    <part name="parameters" element="tns:faturaTarihcesiSorgulaResponse" />
  </message>
  <message name="irsaliyeTarihcesiSorgula">
    <part name="parameters" element="tns:irsaliyeTarihcesiSorgula" />
  </message>
  <message name="irsaliyeTarihcesiSorgulaResponse">
    <part name="parameters" element="tns:irsaliyeTarihcesiSorgulaResponse" />
  </message>
  <message name="belgeGonderExt">
    <part name="parameters" element="tns:belgeGonderExt" />
  </message>
  <message name="belgeGonderExtResponse">
    <part name="parameters" element="tns:belgeGonderExtResponse" />
  </message>
  <message name="gelenBelgeEkleriAl">
    <part name="parameters" element="tns:gelenBelgeEkleriAl" />
  </message>
  <message name="gelenBelgeEkleriAlResponse">
    <part name="parameters" element="tns:gelenBelgeEkleriAlResponse" />
  </message>
  <message name="gidenBelgeEkleriAl">
    <part name="parameters" element="tns:gidenBelgeEkleriAl" />
  </message>
  <message name="gidenBelgeEkleriAlResponse">
    <part name="parameters" element="tns:gidenBelgeEkleriAlResponse" />
  </message>
  <message name="kayitliKullaniciListeleExtended">
    <part name="parameters" element="tns:kayitliKullaniciListeleExtended" />
  </message>
  <message name="kayitliKullaniciListeleExtendedResponse">
    <part name="parameters" element="tns:kayitliKullaniciListeleExtendedResponse" />
  </message>
  <message name="kayitliKullaniciListeleExtendedVknTckn">
    <part name="parameters" element="tns:kayitliKullaniciListeleExtendedVknTckn" />
  </message>
  <message name="kayitliKullaniciListeleExtendedVknTcknResponse">
    <part name="parameters" element="tns:kayitliKullaniciListeleExtendedVknTcknResponse" />
  </message>
  <message name="kayitliKullaniciListeleExtendedTime">
    <part name="parameters" element="tns:kayitliKullaniciListeleExtendedTime" />
  </message>
  <message name="kayitliKullaniciListeleExtendedTimeResponse">
    <part name="parameters" element="tns:kayitliKullaniciListeleExtendedTimeResponse" />
  </message>
  <message name="checkDateValidControl">
    <part name="parameters" element="tns:checkDateValidControl" />
  </message>
  <message name="checkDateValidControlResponse">
    <part name="parameters" element="tns:checkDateValidControlResponse" />
  </message>
  <message name="gidenBelgeleriListele">
    <part name="parameters" element="tns:gidenBelgeleriListele" />
  </message>
  <message name="gidenBelgeleriListeleResponse">
    <part name="parameters" element="tns:gidenBelgeleriListeleResponse" />
  </message>
  <message name="faturaNoUret">
    <part name="parameters" element="tns:faturaNoUret" />
  </message>
  <message name="faturaNoUretResponse">
    <part name="parameters" element="tns:faturaNoUretResponse" />
  </message>
  <message name="gidenBelgeleriListelePortal">
    <part name="parameters" element="tns:gidenBelgeleriListelePortal" />
  </message>
  <message name="gidenBelgeleriListelePortalResponse">
    <part name="parameters" element="tns:gidenBelgeleriListelePortalResponse" />
  </message>
  <message name="cokluGidenBelgeDurumSorgula">
    <part name="parameters" element="tns:cokluGidenBelgeDurumSorgula" />
  </message>
  <message name="cokluGidenBelgeDurumSorgulaResponse">
    <part name="parameters" element="tns:cokluGidenBelgeDurumSorgulaResponse" />
  </message>
  <message name="gidenBelgeDurumSorgulaExt">
    <part name="parameters" element="tns:gidenBelgeDurumSorgulaExt" />
  </message>
  <message name="gidenBelgeDurumSorgulaExtResponse">
    <part name="parameters" element="tns:gidenBelgeDurumSorgulaExtResponse" />
  </message>
  <message name="gidenBelgeDurumSorgulaPortal">
    <part name="parameters" element="tns:gidenBelgeDurumSorgulaPortal" />
  </message>
  <message name="gidenBelgeDurumSorgulaPortalResponse">
    <part name="parameters" element="tns:gidenBelgeDurumSorgulaPortalResponse" />
  </message>
  <message name="gidenBelgeDurumSorgulaEttn">
    <part name="parameters" element="tns:gidenBelgeDurumSorgulaEttn" />
  </message>
  <message name="gidenBelgeDurumSorgulaEttnResponse">
    <part name="parameters" element="tns:gidenBelgeDurumSorgulaEttnResponse" />
  </message>
  <message name="gidenBelgeDurumSorgulaBelgeNo">
    <part name="parameters" element="tns:gidenBelgeDurumSorgulaBelgeNo" />
  </message>
  <message name="gidenBelgeDurumSorgulaBelgeNoResponse">
    <part name="parameters" element="tns:gidenBelgeDurumSorgulaBelgeNoResponse" />
  </message>
  <message name="gidenBelgeDurumSorgulaYerelBelgeNo">
    <part name="parameters" element="tns:gidenBelgeDurumSorgulaYerelBelgeNo" />
  </message>
  <message name="gidenBelgeDurumSorgulaYerelBelgeNoResponse">
    <part name="parameters" element="tns:gidenBelgeDurumSorgulaYerelBelgeNoResponse" />
  </message>
  <message name="gelenBelgeDurumSorgulaExt">
    <part name="parameters" element="tns:gelenBelgeDurumSorgulaExt" />
  </message>
  <message name="gelenBelgeDurumSorgulaExtResponse">
    <part name="parameters" element="tns:gelenBelgeDurumSorgulaExtResponse" />
  </message>
  <message name="gelenBelgeleriListeleExt">
    <part name="parameters" element="tns:gelenBelgeleriListeleExt" />
  </message>
  <message name="gelenBelgeleriListeleExtResponse">
    <part name="parameters" element="tns:gelenBelgeleriListeleExtResponse" />
  </message>
  <message name="yereleAktarilacakBelgeleriAlExt">
    <part name="parameters" element="tns:yereleAktarilacakBelgeleriAlExt" />
  </message>
  <message name="yereleAktarilacakBelgeleriAlExtResponse">
    <part name="parameters" element="tns:yereleAktarilacakBelgeleriAlExtResponse" />
  </message>
  <message name="gelenBelgeleriAlExt">
    <part name="parameters" element="tns:gelenBelgeleriAlExt" />
  </message>
  <message name="gelenBelgeleriAlExtResponse">
    <part name="parameters" element="tns:gelenBelgeleriAlExtResponse" />
  </message>
  <message name="gelenBelgeleriAlExt2">
    <part name="parameters" element="tns:gelenBelgeleriAlExt2" />
  </message>
  <message name="gelenBelgeleriAlExt2Response">
    <part name="parameters" element="tns:gelenBelgeleriAlExt2Response" />
  </message>
  <message name="belgeGonderWithValidate">
    <part name="parameters" element="tns:belgeGonderWithValidate" />
  </message>
  <message name="belgeGonderWithValidateResponse">
    <part name="parameters" element="tns:belgeGonderWithValidateResponse" />
  </message>
  <message name="belgeGonderExtWithValidate">
    <part name="parameters" element="tns:belgeGonderExtWithValidate" />
  </message>
  <message name="belgeGonderExtWithValidateResponse">
    <part name="parameters" element="tns:belgeGonderExtWithValidateResponse" />
  </message>
  <message name="eIrsaliyeKullanicisi">
    <part name="parameters" element="tns:eIrsaliyeKullanicisi" />
  </message>
  <message name="eIrsaliyeKullanicisiResponse">
    <part name="parameters" element="tns:eIrsaliyeKullanicisiResponse" />
  </message>
  <message name="eIrsaliyeKayitliKullaniciListele">
    <part name="parameters" element="tns:eIrsaliyeKayitliKullaniciListele" />
  </message>
  <message name="eIrsaliyeKayitliKullaniciListeleResponse">
    <part name="parameters" element="tns:eIrsaliyeKayitliKullaniciListeleResponse" />
  </message>
  <message name="gelenBelgeXmlleriniAlExt">
    <part name="parameters" element="tns:gelenBelgeXmlleriniAlExt" />
  </message>
  <message name="gelenBelgeXmlleriniAlExtResponse">
    <part name="parameters" element="tns:gelenBelgeXmlleriniAlExtResponse" />
  </message>
  <message name="gelenBelgeleriIndirExt">
    <part name="parameters" element="tns:gelenBelgeleriIndirExt" />
  </message>
  <message name="gelenBelgeleriIndirExtResponse">
    <part name="parameters" element="tns:gelenBelgeleriIndirExtResponse" />
  </message>
  <message name="gidenBelgeleriIndirPortal">
    <part name="parameters" element="tns:gidenBelgeleriIndirPortal" />
  </message>
  <message name="gidenBelgeleriIndirPortalResponse">
    <part name="parameters" element="tns:gidenBelgeleriIndirPortalResponse" />
  </message>
  <message name="efaturaKullaniciListesi">
    <part name="parameters" element="tns:efaturaKullaniciListesi" />
  </message>
  <message name="efaturaKullaniciListesiResponse">
    <part name="parameters" element="tns:efaturaKullaniciListesiResponse" />
  </message>
  <message name="belgelerAlindi">
    <part name="parameters" element="tns:belgelerAlindi" />
  </message>
  <message name="belgelerAlindiResponse">
    <part name="parameters" element="tns:belgelerAlindiResponse" />
  </message>
  <message name="belgeleriTekrarGonder">
    <part name="parameters" element="tns:belgeleriTekrarGonder" />
  </message>
  <message name="belgeleriTekrarGonderResponse">
    <part name="parameters" element="tns:belgeleriTekrarGonderResponse" />
  </message>
  <message name="belgeleriTekrarGonderBelgeOid">
    <part name="parameters" element="tns:belgeleriTekrarGonderBelgeOid" />
  </message>
  <message name="belgeleriTekrarGonderBelgeOidResponse">
    <part name="parameters" element="tns:belgeleriTekrarGonderBelgeOidResponse" />
  </message>
  <message name="belgeleriTekrarGonderYerelBelgeNo">
    <part name="parameters" element="tns:belgeleriTekrarGonderYerelBelgeNo" />
  </message>
  <message name="belgeleriTekrarGonderYerelBelgeNoResponse">
    <part name="parameters" element="tns:belgeleriTekrarGonderYerelBelgeNoResponse" />
  </message>
  <message name="gidenBelgeleriIndirEttn">
    <part name="parameters" element="tns:gidenBelgeleriIndirEttn" />
  </message>
  <message name="gidenBelgeleriIndirEttnResponse">
    <part name="parameters" element="tns:gidenBelgeleriIndirEttnResponse" />
  </message>
  <message name="gelenFaturalariArsiveKaldir">
    <part name="parameters" element="tns:gelenFaturalariArsiveKaldir" />
  </message>
  <message name="gelenFaturalariArsiveKaldirResponse">
    <part name="parameters" element="tns:gelenFaturalariArsiveKaldirResponse" />
  </message>
  <message name="gidenFaturalariArsiveKaldir">
    <part name="parameters" element="tns:gidenFaturalariArsiveKaldir" />
  </message>
  <message name="gidenFaturalariArsiveKaldirResponse">
    <part name="parameters" element="tns:gidenFaturalariArsiveKaldirResponse" />
  </message>
  <message name="kontorBilgisiGetir">
    <part name="parameters" element="tns:kontorBilgisiGetir" />
  </message>
  <message name="kontorBilgisiGetirResponse">
    <part name="parameters" element="tns:kontorBilgisiGetirResponse" />
  </message>
  <message name="temelKontrollerIleBelgeGonder">
    <part name="parameters" element="tns:temelKontrollerIleBelgeGonder" />
  </message>
  <message name="temelKontrollerIleBelgeGonderResponse">
    <part name="parameters" element="tns:temelKontrollerIleBelgeGonderResponse" />
  </message>
  <message name="csXmlOnizleme">
    <part name="parameters" element="tns:csXmlOnizleme" />
  </message>
  <message name="csXmlOnizlemeResponse">
    <part name="parameters" element="tns:csXmlOnizlemeResponse" />
  </message>
  <message name="csXmlToUbl">
    <part name="parameters" element="tns:csXmlToUbl" />
  </message>
  <message name="csXmlToUblResponse">
    <part name="parameters" element="tns:csXmlToUblResponse" />
  </message>
  <message name="ublOnizleme">
    <part name="parameters" element="tns:ublOnizleme" />
  </message>
  <message name="ublOnizlemeResponse">
    <part name="parameters" element="tns:ublOnizlemeResponse" />
  </message>
  <message name="erpBilgileriBelirle">
    <part name="parameters" element="tns:erpBilgileriBelirle" />
  </message>
  <message name="erpBilgileriBelirleResponse">
    <part name="parameters" element="tns:erpBilgileriBelirleResponse" />
  </message>
  <message name="gelenTasinanBelgeleriIndir">
    <part name="parameters" element="tns:gelenTasinanBelgeleriIndir" />
  </message>
  <message name="gelenTasinanBelgeleriIndirResponse">
    <part name="parameters" element="tns:gelenTasinanBelgeleriIndirResponse" />
  </message>
  <message name="gidenTasinanBelgeleriIndir">
    <part name="parameters" element="tns:gidenTasinanBelgeleriIndir" />
  </message>
  <message name="gidenTasinanBelgeleriIndirResponse">
    <part name="parameters" element="tns:gidenTasinanBelgeleriIndirResponse" />
  </message>
  <message name="gelenIrsaliyeleriArsiveKaldir">
    <part name="parameters" element="tns:gelenIrsaliyeleriArsiveKaldir" />
  </message>
  <message name="gelenIrsaliyeleriArsiveKaldirResponse">
    <part name="parameters" element="tns:gelenIrsaliyeleriArsiveKaldirResponse" />
  </message>
  <message name="gidenIrsaliyeleriArsiveKaldir">
    <part name="parameters" element="tns:gidenIrsaliyeleriArsiveKaldir" />
  </message>
  <message name="gidenIrsaliyeleriArsiveKaldirResponse">
    <part name="parameters" element="tns:gidenIrsaliyeleriArsiveKaldirResponse" />
  </message>
  <message name="gidenBelgeTutarBilgileriSorgula">
    <part name="parameters" element="tns:gidenBelgeTutarBilgileriSorgula" />
  </message>
  <message name="gidenBelgeTutarBilgileriSorgulaResponse">
    <part name="parameters" element="tns:gidenBelgeTutarBilgileriSorgulaResponse" />
  </message>
  <message name="gelenBelgeTutarBilgileriSorgula">
    <part name="parameters" element="tns:gelenBelgeTutarBilgileriSorgula" />
  </message>
  <message name="gelenBelgeTutarBilgileriSorgulaResponse">
    <part name="parameters" element="tns:gelenBelgeTutarBilgileriSorgulaResponse" />
  </message>
  <message name="faturaMailGonder">
    <part name="parameters" element="tns:faturaMailGonder" />
  </message>
  <message name="faturaMailGonderResponse">
    <part name="parameters" element="tns:faturaMailGonderResponse" />
  </message>
  <message name="irsaliyeMailGonder">
    <part name="parameters" element="tns:irsaliyeMailGonder" />
  </message>
  <message name="irsaliyeMailGonderResponse">
    <part name="parameters" element="tns:irsaliyeMailGonderResponse" />
  </message>
  <message name="yolcuBeraberFaturaIptalEt">
    <part name="parameters" element="tns:yolcuBeraberFaturaIptalEt" />
  </message>
  <message name="yolcuBeraberFaturaIptalEtResponse">
    <part name="parameters" element="tns:yolcuBeraberFaturaIptalEtResponse" />
  </message>
  <message name="belgelerAlindiEntegrasyonSiparisNoGuncelle">
    <part name="parameters" element="tns:belgelerAlindiEntegrasyonSiparisNoGuncelle" />
  </message>
  <message name="belgelerAlindiEntegrasyonSiparisNoGuncelleResponse">
    <part name="parameters" element="tns:belgelerAlindiEntegrasyonSiparisNoGuncelleResponse" />
  </message>
  <message name="gelenStandartRapolariAl">
    <part name="parameters" element="tns:gelenStandartRapolariAl" />
  </message>
  <message name="gelenStandartRapolariAlResponse">
    <part name="parameters" element="tns:gelenStandartRapolariAlResponse" />
  </message>
  <message name="gelenTamamlananRapolariAl">
    <part name="parameters" element="tns:gelenTamamlananRapolariAl" />
  </message>
  <message name="gelenTamamlananRapolariAlResponse">
    <part name="parameters" element="tns:gelenTamamlananRapolariAlResponse" />
  </message>
  <message name="wsKullanicisiKaydet">
    <part name="parameters" element="tns:wsKullanicisiKaydet" />
  </message>
  <message name="wsKullanicisiKaydetResponse">
    <part name="parameters" element="tns:wsKullanicisiKaydetResponse" />
  </message>
  <message name="urunSablonlariniAl">
    <part name="parameters" element="tns:urunSablonlariniAl" />
  </message>
  <message name="urunSablonlariniAlResponse">
    <part name="parameters" element="tns:urunSablonlariniAlResponse" />
  </message>
  <message name="faturaKepIleIadeEdildi">
    <part name="parameters" element="tns:faturaKepIleIadeEdildi" />
  </message>
  <message name="faturaKepIleIadeEdildiResponse">
    <part name="parameters" element="tns:faturaKepIleIadeEdildiResponse" />
  </message>
  <message name="faturaKepIleIadeEdildiIptal">
    <part name="parameters" element="tns:faturaKepIleIadeEdildiIptal" />
  </message>
  <message name="faturaKepIleIadeEdildiIptalResponse">
    <part name="parameters" element="tns:faturaKepIleIadeEdildiIptalResponse" />
  </message>
  <message name="faturayaItirazEdildi">
    <part name="parameters" element="tns:faturayaItirazEdildi" />
  </message>
  <message name="faturayaItirazEdildiResponse">
    <part name="parameters" element="tns:faturayaItirazEdildiResponse" />
  </message>
  <message name="faturayaItirazEdildiIptal">
    <part name="parameters" element="tns:faturayaItirazEdildiIptal" />
  </message>
  <message name="faturayaItirazEdildiIptalResponse">
    <part name="parameters" element="tns:faturayaItirazEdildiIptalResponse" />
  </message>
  <message name="toplamBelgeSayisiGetir">
    <part name="parameters" element="tns:toplamBelgeSayisiGetir" />
  </message>
  <message name="toplamBelgeSayisiGetirResponse">
    <part name="parameters" element="tns:toplamBelgeSayisiGetirResponse" />
  </message>
  <portType name="ConnectorService">
    <operation name="gelenBelgeDurumSorgula">
      <input xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata" ns1:Action="http://service.connector.uut.cs.com.tr/ConnectorService/gelenBelgeDurumSorgulaRequest" message="tns:gelenBelgeDurumSorgula" />
      <output xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata" ns2:Action="http://service.connector.uut.cs.com.tr/ConnectorService/gelenBelgeDurumSorgulaResponse" message="tns:gelenBelgeDurumSorgulaResponse" />
    </operation>
    <operation name="gelenBelgeleriListele">
      <input xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata" ns3:Action="http://service.connector.uut.cs.com.tr/ConnectorService/gelenBelgeleriListeleRequest" message="tns:gelenBelgeleriListele" />
      <output xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata" ns4:Action="http://service.connector.uut.cs.com.tr/ConnectorService/gelenBelgeleriListeleResponse" message="tns:gelenBelgeleriListeleResponse" />
      <fault xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata" ns5:Action="http://service.connector.uut.cs.com.tr/ConnectorService/gelenBelgeleriListele/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="yereleAktarilacakBelgeleriAl">
      <input xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata" ns6:Action="http://service.connector.uut.cs.com.tr/ConnectorService/yereleAktarilacakBelgeleriAlRequest" message="tns:yereleAktarilacakBelgeleriAl" />
      <output xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata" ns7:Action="http://service.connector.uut.cs.com.tr/ConnectorService/yereleAktarilacakBelgeleriAlResponse" message="tns:yereleAktarilacakBelgeleriAlResponse" />
    </operation>
    <operation name="gelenBelgeleriAl">
      <input xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata" ns8:Action="http://service.connector.uut.cs.com.tr/ConnectorService/gelenBelgeleriAlRequest" message="tns:gelenBelgeleriAl" />
      <output xmlns:ns9="http://www.w3.org/2007/05/addressing/metadata" ns9:Action="http://service.connector.uut.cs.com.tr/ConnectorService/gelenBelgeleriAlResponse" message="tns:gelenBelgeleriAlResponse" />
    </operation>
    <operation name="belgeGonder">
      <input xmlns:ns10="http://www.w3.org/2007/05/addressing/metadata" ns10:Action="http://service.connector.uut.cs.com.tr/ConnectorService/belgeGonderRequest" message="tns:belgeGonder" />
      <output xmlns:ns11="http://www.w3.org/2007/05/addressing/metadata" ns11:Action="http://service.connector.uut.cs.com.tr/ConnectorService/belgeGonderResponse" message="tns:belgeGonderResponse" />
    </operation>
    <operation name="gidenBelgeDurumSorgula">
      <input xmlns:ns12="http://www.w3.org/2007/05/addressing/metadata" ns12:Action="http://service.connector.uut.cs.com.tr/ConnectorService/gidenBelgeDurumSorgulaRequest" message="tns:gidenBelgeDurumSorgula" />
      <output xmlns:ns13="http://www.w3.org/2007/05/addressing/metadata" ns13:Action="http://service.connector.uut.cs.com.tr/ConnectorService/gidenBelgeDurumSorgulaResponse" message="tns:gidenBelgeDurumSorgulaResponse" />
    </operation>
    <operation name="gelenBelgeXmlleriniAl">
      <input xmlns:ns14="http://www.w3.org/2007/05/addressing/metadata" ns14:Action="http://service.connector.uut.cs.com.tr/ConnectorService/gelenBelgeXmlleriniAlRequest" message="tns:gelenBelgeXmlleriniAl" />
      <output xmlns:ns15="http://www.w3.org/2007/05/addressing/metadata" ns15:Action="http://service.connector.uut.cs.com.tr/ConnectorService/gelenBelgeXmlleriniAlResponse" message="tns:gelenBelgeXmlleriniAlResponse" />
    </operation>
    <operation name="efaturaKullanicisi">
      <input xmlns:ns16="http://www.w3.org/2007/05/addressing/metadata" ns16:Action="http://service.connector.uut.cs.com.tr/ConnectorService/efaturaKullanicisiRequest" message="tns:efaturaKullanicisi" />
      <output xmlns:ns17="http://www.w3.org/2007/05/addressing/metadata" ns17:Action="http://service.connector.uut.cs.com.tr/ConnectorService/efaturaKullanicisiResponse" message="tns:efaturaKullanicisiResponse" />
    </operation>
    <operation name="eFaturaKayitliKullaniciListele">
      <input xmlns:ns18="http://www.w3.org/2007/05/addressing/metadata" ns18:Action="http://service.connector.uut.cs.com.tr/ConnectorService/eFaturaKayitliKullaniciListeleRequest" message="tns:eFaturaKayitliKullaniciListele" />
      <output xmlns:ns19="http://www.w3.org/2007/05/addressing/metadata" ns19:Action="http://service.connector.uut.cs.com.tr/ConnectorService/eFaturaKayitliKullaniciListeleResponse" message="tns:eFaturaKayitliKullaniciListeleResponse" />
    </operation>
    <operation name="gelenBelgeleriIndir">
      <input xmlns:ns20="http://www.w3.org/2007/05/addressing/metadata" ns20:Action="http://service.connector.uut.cs.com.tr/ConnectorService/gelenBelgeleriIndirRequest" message="tns:gelenBelgeleriIndir" />
      <output xmlns:ns21="http://www.w3.org/2007/05/addressing/metadata" ns21:Action="http://service.connector.uut.cs.com.tr/ConnectorService/gelenBelgeleriIndirResponse" message="tns:gelenBelgeleriIndirResponse" />
      <fault xmlns:ns22="http://www.w3.org/2007/05/addressing/metadata" ns22:Action="http://service.connector.uut.cs.com.tr/ConnectorService/gelenBelgeleriIndir/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="gidenBelgeleriIndir">
      <input xmlns:ns23="http://www.w3.org/2007/05/addressing/metadata" ns23:Action="http://service.connector.uut.cs.com.tr/ConnectorService/gidenBelgeleriIndirRequest" message="tns:gidenBelgeleriIndir" />
      <output xmlns:ns24="http://www.w3.org/2007/05/addressing/metadata" ns24:Action="http://service.connector.uut.cs.com.tr/ConnectorService/gidenBelgeleriIndirResponse" message="tns:gidenBelgeleriIndirResponse" />
      <fault xmlns:ns25="http://www.w3.org/2007/05/addressing/metadata" ns25:Action="http://service.connector.uut.cs.com.tr/ConnectorService/gidenBelgeleriIndir/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="efaturaKullaniciBilgisi">
      <input xmlns:ns26="http://www.w3.org/2007/05/addressing/metadata" ns26:Action="http://service.connector.uut.cs.com.tr/ConnectorService/efaturaKullaniciBilgisiRequest" message="tns:efaturaKullaniciBilgisi" />
      <output xmlns:ns27="http://www.w3.org/2007/05/addressing/metadata" ns27:Action="http://service.connector.uut.cs.com.tr/ConnectorService/efaturaKullaniciBilgisiResponse" message="tns:efaturaKullaniciBilgisiResponse" />
      <fault xmlns:ns28="http://www.w3.org/2007/05/addressing/metadata" ns28:Action="http://service.connector.uut.cs.com.tr/ConnectorService/efaturaKullaniciBilgisi/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="faturaTarihcesiSorgula">
      <input xmlns:ns29="http://www.w3.org/2007/05/addressing/metadata" ns29:Action="http://service.connector.uut.cs.com.tr/ConnectorService/faturaTarihcesiSorgulaRequest" message="tns:faturaTarihcesiSorgula" />
      <output xmlns:ns30="http://www.w3.org/2007/05/addressing/metadata" ns30:Action="http://service.connector.uut.cs.com.tr/ConnectorService/faturaTarihcesiSorgulaResponse" message="tns:faturaTarihcesiSorgulaResponse" />
    </operation>
    <operation name="irsaliyeTarihcesiSorgula">
      <input xmlns:ns31="http://www.w3.org/2007/05/addressing/metadata" ns31:Action="http://service.connector.uut.cs.com.tr/ConnectorService/irsaliyeTarihcesiSorgulaRequest" message="tns:irsaliyeTarihcesiSorgula" />
      <output xmlns:ns32="http://www.w3.org/2007/05/addressing/metadata" ns32:Action="http://service.connector.uut.cs.com.tr/ConnectorService/irsaliyeTarihcesiSorgulaResponse" message="tns:irsaliyeTarihcesiSorgulaResponse" />
    </operation>
    <operation name="belgeGonderExt">
      <input xmlns:ns33="http://www.w3.org/2007/05/addressing/metadata" ns33:Action="http://service.connector.uut.cs.com.tr/ConnectorService/belgeGonderExtRequest" message="tns:belgeGonderExt" />
      <output xmlns:ns34="http://www.w3.org/2007/05/addressing/metadata" ns34:Action="http://service.connector.uut.cs.com.tr/ConnectorService/belgeGonderExtResponse" message="tns:belgeGonderExtResponse" />
    </operation>
    <operation name="gelenBelgeEkleriAl">
      <input xmlns:ns35="http://www.w3.org/2007/05/addressing/metadata" ns35:Action="http://service.connector.uut.cs.com.tr/ConnectorService/gelenBelgeEkleriAlRequest" message="tns:gelenBelgeEkleriAl" />
      <output xmlns:ns36="http://www.w3.org/2007/05/addressing/metadata" ns36:Action="http://service.connector.uut.cs.com.tr/ConnectorService/gelenBelgeEkleriAlResponse" message="tns:gelenBelgeEkleriAlResponse" />
    </operation>
    <operation name="gidenBelgeEkleriAl">
      <input xmlns:ns37="http://www.w3.org/2007/05/addressing/metadata" ns37:Action="http://service.connector.uut.cs.com.tr/ConnectorService/gidenBelgeEkleriAlRequest" message="tns:gidenBelgeEkleriAl" />
      <output xmlns:ns38="http://www.w3.org/2007/05/addressing/metadata" ns38:Action="http://service.connector.uut.cs.com.tr/ConnectorService/gidenBelgeEkleriAlResponse" message="tns:gidenBelgeEkleriAlResponse" />
    </operation>
    <operation name="kayitliKullaniciListeleExtended">
      <input xmlns:ns39="http://www.w3.org/2007/05/addressing/metadata" ns39:Action="http://service.connector.uut.cs.com.tr/ConnectorService/kayitliKullaniciListeleExtendedRequest" message="tns:kayitliKullaniciListeleExtended" />
      <output xmlns:ns40="http://www.w3.org/2007/05/addressing/metadata" ns40:Action="http://service.connector.uut.cs.com.tr/ConnectorService/kayitliKullaniciListeleExtendedResponse" message="tns:kayitliKullaniciListeleExtendedResponse" />
    </operation>
    <operation name="kayitliKullaniciListeleExtendedVknTckn">
      <input xmlns:ns41="http://www.w3.org/2007/05/addressing/metadata" ns41:Action="http://service.connector.uut.cs.com.tr/ConnectorService/kayitliKullaniciListeleExtendedVknTcknRequest" message="tns:kayitliKullaniciListeleExtendedVknTckn" />
      <output xmlns:ns42="http://www.w3.org/2007/05/addressing/metadata" ns42:Action="http://service.connector.uut.cs.com.tr/ConnectorService/kayitliKullaniciListeleExtendedVknTcknResponse" message="tns:kayitliKullaniciListeleExtendedVknTcknResponse" />
    </operation>
    <operation name="kayitliKullaniciListeleExtendedTime">
      <input xmlns:ns43="http://www.w3.org/2007/05/addressing/metadata" ns43:Action="http://service.connector.uut.cs.com.tr/ConnectorService/kayitliKullaniciListeleExtendedTimeRequest" message="tns:kayitliKullaniciListeleExtendedTime" />
      <output xmlns:ns44="http://www.w3.org/2007/05/addressing/metadata" ns44:Action="http://service.connector.uut.cs.com.tr/ConnectorService/kayitliKullaniciListeleExtendedTimeResponse" message="tns:kayitliKullaniciListeleExtendedTimeResponse" />
    </operation>
    <operation name="checkDateValidControl">
      <input xmlns:ns45="http://www.w3.org/2007/05/addressing/metadata" ns45:Action="http://service.connector.uut.cs.com.tr/ConnectorService/checkDateValidControlRequest" message="tns:checkDateValidControl" />
      <output xmlns:ns46="http://www.w3.org/2007/05/addressing/metadata" ns46:Action="http://service.connector.uut.cs.com.tr/ConnectorService/checkDateValidControlResponse" message="tns:checkDateValidControlResponse" />
    </operation>
    <operation name="gidenBelgeleriListele">
      <input xmlns:ns47="http://www.w3.org/2007/05/addressing/metadata" ns47:Action="http://service.connector.uut.cs.com.tr/ConnectorService/gidenBelgeleriListeleRequest" message="tns:gidenBelgeleriListele" />
      <output xmlns:ns48="http://www.w3.org/2007/05/addressing/metadata" ns48:Action="http://service.connector.uut.cs.com.tr/ConnectorService/gidenBelgeleriListeleResponse" message="tns:gidenBelgeleriListeleResponse" />
    </operation>
    <operation name="faturaNoUret">
      <input xmlns:ns49="http://www.w3.org/2007/05/addressing/metadata" ns49:Action="http://service.connector.uut.cs.com.tr/ConnectorService/faturaNoUretRequest" message="tns:faturaNoUret" />
      <output xmlns:ns50="http://www.w3.org/2007/05/addressing/metadata" ns50:Action="http://service.connector.uut.cs.com.tr/ConnectorService/faturaNoUretResponse" message="tns:faturaNoUretResponse" />
    </operation>
    <operation name="gidenBelgeleriListelePortal">
      <input xmlns:ns51="http://www.w3.org/2007/05/addressing/metadata" ns51:Action="http://service.connector.uut.cs.com.tr/ConnectorService/gidenBelgeleriListelePortalRequest" message="tns:gidenBelgeleriListelePortal" />
      <output xmlns:ns52="http://www.w3.org/2007/05/addressing/metadata" ns52:Action="http://service.connector.uut.cs.com.tr/ConnectorService/gidenBelgeleriListelePortalResponse" message="tns:gidenBelgeleriListelePortalResponse" />
    </operation>
    <operation name="cokluGidenBelgeDurumSorgula">
      <input xmlns:ns53="http://www.w3.org/2007/05/addressing/metadata" ns53:Action="http://service.connector.uut.cs.com.tr/ConnectorService/cokluGidenBelgeDurumSorgulaRequest" message="tns:cokluGidenBelgeDurumSorgula" />
      <output xmlns:ns54="http://www.w3.org/2007/05/addressing/metadata" ns54:Action="http://service.connector.uut.cs.com.tr/ConnectorService/cokluGidenBelgeDurumSorgulaResponse" message="tns:cokluGidenBelgeDurumSorgulaResponse" />
    </operation>
    <operation name="gidenBelgeDurumSorgulaExt">
      <input xmlns:ns55="http://www.w3.org/2007/05/addressing/metadata" ns55:Action="http://service.connector.uut.cs.com.tr/ConnectorService/gidenBelgeDurumSorgulaExtRequest" message="tns:gidenBelgeDurumSorgulaExt" />
      <output xmlns:ns56="http://www.w3.org/2007/05/addressing/metadata" ns56:Action="http://service.connector.uut.cs.com.tr/ConnectorService/gidenBelgeDurumSorgulaExtResponse" message="tns:gidenBelgeDurumSorgulaExtResponse" />
    </operation>
    <operation name="gidenBelgeDurumSorgulaPortal">
      <input xmlns:ns57="http://www.w3.org/2007/05/addressing/metadata" ns57:Action="http://service.connector.uut.cs.com.tr/ConnectorService/gidenBelgeDurumSorgulaPortalRequest" message="tns:gidenBelgeDurumSorgulaPortal" />
      <output xmlns:ns58="http://www.w3.org/2007/05/addressing/metadata" ns58:Action="http://service.connector.uut.cs.com.tr/ConnectorService/gidenBelgeDurumSorgulaPortalResponse" message="tns:gidenBelgeDurumSorgulaPortalResponse" />
    </operation>
    <operation name="gidenBelgeDurumSorgulaEttn">
      <input xmlns:ns59="http://www.w3.org/2007/05/addressing/metadata" ns59:Action="http://service.connector.uut.cs.com.tr/ConnectorService/gidenBelgeDurumSorgulaEttnRequest" message="tns:gidenBelgeDurumSorgulaEttn" />
      <output xmlns:ns60="http://www.w3.org/2007/05/addressing/metadata" ns60:Action="http://service.connector.uut.cs.com.tr/ConnectorService/gidenBelgeDurumSorgulaEttnResponse" message="tns:gidenBelgeDurumSorgulaEttnResponse" />
    </operation>
    <operation name="gidenBelgeDurumSorgulaBelgeNo">
      <input xmlns:ns61="http://www.w3.org/2007/05/addressing/metadata" ns61:Action="http://service.connector.uut.cs.com.tr/ConnectorService/gidenBelgeDurumSorgulaBelgeNoRequest" message="tns:gidenBelgeDurumSorgulaBelgeNo" />
      <output xmlns:ns62="http://www.w3.org/2007/05/addressing/metadata" ns62:Action="http://service.connector.uut.cs.com.tr/ConnectorService/gidenBelgeDurumSorgulaBelgeNoResponse" message="tns:gidenBelgeDurumSorgulaBelgeNoResponse" />
    </operation>
    <operation name="gidenBelgeDurumSorgulaYerelBelgeNo">
      <input xmlns:ns63="http://www.w3.org/2007/05/addressing/metadata" ns63:Action="http://service.connector.uut.cs.com.tr/ConnectorService/gidenBelgeDurumSorgulaYerelBelgeNoRequest" message="tns:gidenBelgeDurumSorgulaYerelBelgeNo" />
      <output xmlns:ns64="http://www.w3.org/2007/05/addressing/metadata" ns64:Action="http://service.connector.uut.cs.com.tr/ConnectorService/gidenBelgeDurumSorgulaYerelBelgeNoResponse" message="tns:gidenBelgeDurumSorgulaYerelBelgeNoResponse" />
    </operation>
    <operation name="gelenBelgeDurumSorgulaExt">
      <input xmlns:ns65="http://www.w3.org/2007/05/addressing/metadata" ns65:Action="http://service.connector.uut.cs.com.tr/ConnectorService/gelenBelgeDurumSorgulaExtRequest" message="tns:gelenBelgeDurumSorgulaExt" />
      <output xmlns:ns66="http://www.w3.org/2007/05/addressing/metadata" ns66:Action="http://service.connector.uut.cs.com.tr/ConnectorService/gelenBelgeDurumSorgulaExtResponse" message="tns:gelenBelgeDurumSorgulaExtResponse" />
    </operation>
    <operation name="gelenBelgeleriListeleExt">
      <input xmlns:ns67="http://www.w3.org/2007/05/addressing/metadata" ns67:Action="http://service.connector.uut.cs.com.tr/ConnectorService/gelenBelgeleriListeleExtRequest" message="tns:gelenBelgeleriListeleExt" />
      <output xmlns:ns68="http://www.w3.org/2007/05/addressing/metadata" ns68:Action="http://service.connector.uut.cs.com.tr/ConnectorService/gelenBelgeleriListeleExtResponse" message="tns:gelenBelgeleriListeleExtResponse" />
      <fault xmlns:ns69="http://www.w3.org/2007/05/addressing/metadata" ns69:Action="http://service.connector.uut.cs.com.tr/ConnectorService/gelenBelgeleriListeleExt/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="yereleAktarilacakBelgeleriAlExt">
      <input xmlns:ns70="http://www.w3.org/2007/05/addressing/metadata" ns70:Action="http://service.connector.uut.cs.com.tr/ConnectorService/yereleAktarilacakBelgeleriAlExtRequest" message="tns:yereleAktarilacakBelgeleriAlExt" />
      <output xmlns:ns71="http://www.w3.org/2007/05/addressing/metadata" ns71:Action="http://service.connector.uut.cs.com.tr/ConnectorService/yereleAktarilacakBelgeleriAlExtResponse" message="tns:yereleAktarilacakBelgeleriAlExtResponse" />
    </operation>
    <operation name="gelenBelgeleriAlExt">
      <input xmlns:ns72="http://www.w3.org/2007/05/addressing/metadata" ns72:Action="http://service.connector.uut.cs.com.tr/ConnectorService/gelenBelgeleriAlExtRequest" message="tns:gelenBelgeleriAlExt" />
      <output xmlns:ns73="http://www.w3.org/2007/05/addressing/metadata" ns73:Action="http://service.connector.uut.cs.com.tr/ConnectorService/gelenBelgeleriAlExtResponse" message="tns:gelenBelgeleriAlExtResponse" />
    </operation>
    <operation name="gelenBelgeleriAlExt2">
      <input xmlns:ns74="http://www.w3.org/2007/05/addressing/metadata" ns74:Action="http://service.connector.uut.cs.com.tr/ConnectorService/gelenBelgeleriAlExt2Request" message="tns:gelenBelgeleriAlExt2" />
      <output xmlns:ns75="http://www.w3.org/2007/05/addressing/metadata" ns75:Action="http://service.connector.uut.cs.com.tr/ConnectorService/gelenBelgeleriAlExt2Response" message="tns:gelenBelgeleriAlExt2Response" />
    </operation>
    <operation name="belgeGonderWithValidate">
      <input xmlns:ns76="http://www.w3.org/2007/05/addressing/metadata" ns76:Action="http://service.connector.uut.cs.com.tr/ConnectorService/belgeGonderWithValidateRequest" message="tns:belgeGonderWithValidate" />
      <output xmlns:ns77="http://www.w3.org/2007/05/addressing/metadata" ns77:Action="http://service.connector.uut.cs.com.tr/ConnectorService/belgeGonderWithValidateResponse" message="tns:belgeGonderWithValidateResponse" />
    </operation>
    <operation name="belgeGonderExtWithValidate">
      <input xmlns:ns78="http://www.w3.org/2007/05/addressing/metadata" ns78:Action="http://service.connector.uut.cs.com.tr/ConnectorService/belgeGonderExtWithValidateRequest" message="tns:belgeGonderExtWithValidate" />
      <output xmlns:ns79="http://www.w3.org/2007/05/addressing/metadata" ns79:Action="http://service.connector.uut.cs.com.tr/ConnectorService/belgeGonderExtWithValidateResponse" message="tns:belgeGonderExtWithValidateResponse" />
    </operation>
    <operation name="eIrsaliyeKullanicisi">
      <input xmlns:ns80="http://www.w3.org/2007/05/addressing/metadata" ns80:Action="http://service.connector.uut.cs.com.tr/ConnectorService/eIrsaliyeKullanicisiRequest" message="tns:eIrsaliyeKullanicisi" />
      <output xmlns:ns81="http://www.w3.org/2007/05/addressing/metadata" ns81:Action="http://service.connector.uut.cs.com.tr/ConnectorService/eIrsaliyeKullanicisiResponse" message="tns:eIrsaliyeKullanicisiResponse" />
    </operation>
    <operation name="eIrsaliyeKayitliKullaniciListele">
      <input xmlns:ns82="http://www.w3.org/2007/05/addressing/metadata" ns82:Action="http://service.connector.uut.cs.com.tr/ConnectorService/eIrsaliyeKayitliKullaniciListeleRequest" message="tns:eIrsaliyeKayitliKullaniciListele" />
      <output xmlns:ns83="http://www.w3.org/2007/05/addressing/metadata" ns83:Action="http://service.connector.uut.cs.com.tr/ConnectorService/eIrsaliyeKayitliKullaniciListeleResponse" message="tns:eIrsaliyeKayitliKullaniciListeleResponse" />
    </operation>
    <operation name="gelenBelgeXmlleriniAlExt">
      <input xmlns:ns84="http://www.w3.org/2007/05/addressing/metadata" ns84:Action="http://service.connector.uut.cs.com.tr/ConnectorService/gelenBelgeXmlleriniAlExtRequest" message="tns:gelenBelgeXmlleriniAlExt" />
      <output xmlns:ns85="http://www.w3.org/2007/05/addressing/metadata" ns85:Action="http://service.connector.uut.cs.com.tr/ConnectorService/gelenBelgeXmlleriniAlExtResponse" message="tns:gelenBelgeXmlleriniAlExtResponse" />
    </operation>
    <operation name="gelenBelgeleriIndirExt">
      <input xmlns:ns86="http://www.w3.org/2007/05/addressing/metadata" ns86:Action="http://service.connector.uut.cs.com.tr/ConnectorService/gelenBelgeleriIndirExtRequest" message="tns:gelenBelgeleriIndirExt" />
      <output xmlns:ns87="http://www.w3.org/2007/05/addressing/metadata" ns87:Action="http://service.connector.uut.cs.com.tr/ConnectorService/gelenBelgeleriIndirExtResponse" message="tns:gelenBelgeleriIndirExtResponse" />
      <fault xmlns:ns88="http://www.w3.org/2007/05/addressing/metadata" ns88:Action="http://service.connector.uut.cs.com.tr/ConnectorService/gelenBelgeleriIndirExt/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="gidenBelgeleriIndirPortal">
      <input xmlns:ns89="http://www.w3.org/2007/05/addressing/metadata" ns89:Action="http://service.connector.uut.cs.com.tr/ConnectorService/gidenBelgeleriIndirPortalRequest" message="tns:gidenBelgeleriIndirPortal" />
      <output xmlns:ns90="http://www.w3.org/2007/05/addressing/metadata" ns90:Action="http://service.connector.uut.cs.com.tr/ConnectorService/gidenBelgeleriIndirPortalResponse" message="tns:gidenBelgeleriIndirPortalResponse" />
      <fault xmlns:ns91="http://www.w3.org/2007/05/addressing/metadata" ns91:Action="http://service.connector.uut.cs.com.tr/ConnectorService/gidenBelgeleriIndirPortal/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="efaturaKullaniciListesi">
      <input xmlns:ns92="http://www.w3.org/2007/05/addressing/metadata" ns92:Action="http://service.connector.uut.cs.com.tr/ConnectorService/efaturaKullaniciListesiRequest" message="tns:efaturaKullaniciListesi" />
      <output xmlns:ns93="http://www.w3.org/2007/05/addressing/metadata" ns93:Action="http://service.connector.uut.cs.com.tr/ConnectorService/efaturaKullaniciListesiResponse" message="tns:efaturaKullaniciListesiResponse" />
      <fault xmlns:ns94="http://www.w3.org/2007/05/addressing/metadata" ns94:Action="http://service.connector.uut.cs.com.tr/ConnectorService/efaturaKullaniciListesi/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="belgelerAlindi">
      <input xmlns:ns95="http://www.w3.org/2007/05/addressing/metadata" ns95:Action="http://service.connector.uut.cs.com.tr/ConnectorService/belgelerAlindiRequest" message="tns:belgelerAlindi" />
      <output xmlns:ns96="http://www.w3.org/2007/05/addressing/metadata" ns96:Action="http://service.connector.uut.cs.com.tr/ConnectorService/belgelerAlindiResponse" message="tns:belgelerAlindiResponse" />
      <fault xmlns:ns97="http://www.w3.org/2007/05/addressing/metadata" ns97:Action="http://service.connector.uut.cs.com.tr/ConnectorService/belgelerAlindi/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="belgeleriTekrarGonder">
      <input xmlns:ns98="http://www.w3.org/2007/05/addressing/metadata" ns98:Action="http://service.connector.uut.cs.com.tr/ConnectorService/belgeleriTekrarGonderRequest" message="tns:belgeleriTekrarGonder" />
      <output xmlns:ns99="http://www.w3.org/2007/05/addressing/metadata" ns99:Action="http://service.connector.uut.cs.com.tr/ConnectorService/belgeleriTekrarGonderResponse" message="tns:belgeleriTekrarGonderResponse" />
      <fault xmlns:ns100="http://www.w3.org/2007/05/addressing/metadata" ns100:Action="http://service.connector.uut.cs.com.tr/ConnectorService/belgeleriTekrarGonder/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="belgeleriTekrarGonderBelgeOid">
      <input xmlns:ns101="http://www.w3.org/2007/05/addressing/metadata" ns101:Action="http://service.connector.uut.cs.com.tr/ConnectorService/belgeleriTekrarGonderBelgeOidRequest" message="tns:belgeleriTekrarGonderBelgeOid" />
      <output xmlns:ns102="http://www.w3.org/2007/05/addressing/metadata" ns102:Action="http://service.connector.uut.cs.com.tr/ConnectorService/belgeleriTekrarGonderBelgeOidResponse" message="tns:belgeleriTekrarGonderBelgeOidResponse" />
      <fault xmlns:ns103="http://www.w3.org/2007/05/addressing/metadata" ns103:Action="http://service.connector.uut.cs.com.tr/ConnectorService/belgeleriTekrarGonderBelgeOid/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="belgeleriTekrarGonderYerelBelgeNo">
      <input xmlns:ns104="http://www.w3.org/2007/05/addressing/metadata" ns104:Action="http://service.connector.uut.cs.com.tr/ConnectorService/belgeleriTekrarGonderYerelBelgeNoRequest" message="tns:belgeleriTekrarGonderYerelBelgeNo" />
      <output xmlns:ns105="http://www.w3.org/2007/05/addressing/metadata" ns105:Action="http://service.connector.uut.cs.com.tr/ConnectorService/belgeleriTekrarGonderYerelBelgeNoResponse" message="tns:belgeleriTekrarGonderYerelBelgeNoResponse" />
      <fault xmlns:ns106="http://www.w3.org/2007/05/addressing/metadata" ns106:Action="http://service.connector.uut.cs.com.tr/ConnectorService/belgeleriTekrarGonderYerelBelgeNo/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="gidenBelgeleriIndirEttn">
      <input xmlns:ns107="http://www.w3.org/2007/05/addressing/metadata" ns107:Action="http://service.connector.uut.cs.com.tr/ConnectorService/gidenBelgeleriIndirEttnRequest" message="tns:gidenBelgeleriIndirEttn" />
      <output xmlns:ns108="http://www.w3.org/2007/05/addressing/metadata" ns108:Action="http://service.connector.uut.cs.com.tr/ConnectorService/gidenBelgeleriIndirEttnResponse" message="tns:gidenBelgeleriIndirEttnResponse" />
      <fault xmlns:ns109="http://www.w3.org/2007/05/addressing/metadata" ns109:Action="http://service.connector.uut.cs.com.tr/ConnectorService/gidenBelgeleriIndirEttn/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="gelenFaturalariArsiveKaldir">
      <input xmlns:ns110="http://www.w3.org/2007/05/addressing/metadata" ns110:Action="http://service.connector.uut.cs.com.tr/ConnectorService/gelenFaturalariArsiveKaldirRequest" message="tns:gelenFaturalariArsiveKaldir" />
      <output xmlns:ns111="http://www.w3.org/2007/05/addressing/metadata" ns111:Action="http://service.connector.uut.cs.com.tr/ConnectorService/gelenFaturalariArsiveKaldirResponse" message="tns:gelenFaturalariArsiveKaldirResponse" />
    </operation>
    <operation name="gidenFaturalariArsiveKaldir">
      <input xmlns:ns112="http://www.w3.org/2007/05/addressing/metadata" ns112:Action="http://service.connector.uut.cs.com.tr/ConnectorService/gidenFaturalariArsiveKaldirRequest" message="tns:gidenFaturalariArsiveKaldir" />
      <output xmlns:ns113="http://www.w3.org/2007/05/addressing/metadata" ns113:Action="http://service.connector.uut.cs.com.tr/ConnectorService/gidenFaturalariArsiveKaldirResponse" message="tns:gidenFaturalariArsiveKaldirResponse" />
    </operation>
    <operation name="kontorBilgisiGetir">
      <input xmlns:ns114="http://www.w3.org/2007/05/addressing/metadata" ns114:Action="http://service.connector.uut.cs.com.tr/ConnectorService/kontorBilgisiGetirRequest" message="tns:kontorBilgisiGetir" />
      <output xmlns:ns115="http://www.w3.org/2007/05/addressing/metadata" ns115:Action="http://service.connector.uut.cs.com.tr/ConnectorService/kontorBilgisiGetirResponse" message="tns:kontorBilgisiGetirResponse" />
    </operation>
    <operation name="temelKontrollerIleBelgeGonder">
      <input xmlns:ns116="http://www.w3.org/2007/05/addressing/metadata" ns116:Action="http://service.connector.uut.cs.com.tr/ConnectorService/temelKontrollerIleBelgeGonderRequest" message="tns:temelKontrollerIleBelgeGonder" />
      <output xmlns:ns117="http://www.w3.org/2007/05/addressing/metadata" ns117:Action="http://service.connector.uut.cs.com.tr/ConnectorService/temelKontrollerIleBelgeGonderResponse" message="tns:temelKontrollerIleBelgeGonderResponse" />
    </operation>
    <operation name="csXmlOnizleme">
      <input xmlns:ns118="http://www.w3.org/2007/05/addressing/metadata" ns118:Action="http://service.connector.uut.cs.com.tr/ConnectorService/csXmlOnizlemeRequest" message="tns:csXmlOnizleme" />
      <output xmlns:ns119="http://www.w3.org/2007/05/addressing/metadata" ns119:Action="http://service.connector.uut.cs.com.tr/ConnectorService/csXmlOnizlemeResponse" message="tns:csXmlOnizlemeResponse" />
    </operation>
    <operation name="csXmlToUbl">
      <input xmlns:ns120="http://www.w3.org/2007/05/addressing/metadata" ns120:Action="http://service.connector.uut.cs.com.tr/ConnectorService/csXmlToUblRequest" message="tns:csXmlToUbl" />
      <output xmlns:ns121="http://www.w3.org/2007/05/addressing/metadata" ns121:Action="http://service.connector.uut.cs.com.tr/ConnectorService/csXmlToUblResponse" message="tns:csXmlToUblResponse" />
    </operation>
    <operation name="ublOnizleme">
      <input xmlns:ns122="http://www.w3.org/2007/05/addressing/metadata" ns122:Action="http://service.connector.uut.cs.com.tr/ConnectorService/ublOnizlemeRequest" message="tns:ublOnizleme" />
      <output xmlns:ns123="http://www.w3.org/2007/05/addressing/metadata" ns123:Action="http://service.connector.uut.cs.com.tr/ConnectorService/ublOnizlemeResponse" message="tns:ublOnizlemeResponse" />
    </operation>
    <operation name="erpBilgileriBelirle">
      <input xmlns:ns124="http://www.w3.org/2007/05/addressing/metadata" ns124:Action="http://service.connector.uut.cs.com.tr/ConnectorService/erpBilgileriBelirleRequest" message="tns:erpBilgileriBelirle" />
      <output xmlns:ns125="http://www.w3.org/2007/05/addressing/metadata" ns125:Action="http://service.connector.uut.cs.com.tr/ConnectorService/erpBilgileriBelirleResponse" message="tns:erpBilgileriBelirleResponse" />
    </operation>
    <operation name="gelenTasinanBelgeleriIndir">
      <input xmlns:ns126="http://www.w3.org/2007/05/addressing/metadata" ns126:Action="http://service.connector.uut.cs.com.tr/ConnectorService/gelenTasinanBelgeleriIndirRequest" message="tns:gelenTasinanBelgeleriIndir" />
      <output xmlns:ns127="http://www.w3.org/2007/05/addressing/metadata" ns127:Action="http://service.connector.uut.cs.com.tr/ConnectorService/gelenTasinanBelgeleriIndirResponse" message="tns:gelenTasinanBelgeleriIndirResponse" />
      <fault xmlns:ns128="http://www.w3.org/2007/05/addressing/metadata" ns128:Action="http://service.connector.uut.cs.com.tr/ConnectorService/gelenTasinanBelgeleriIndir/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="gidenTasinanBelgeleriIndir">
      <input xmlns:ns129="http://www.w3.org/2007/05/addressing/metadata" ns129:Action="http://service.connector.uut.cs.com.tr/ConnectorService/gidenTasinanBelgeleriIndirRequest" message="tns:gidenTasinanBelgeleriIndir" />
      <output xmlns:ns130="http://www.w3.org/2007/05/addressing/metadata" ns130:Action="http://service.connector.uut.cs.com.tr/ConnectorService/gidenTasinanBelgeleriIndirResponse" message="tns:gidenTasinanBelgeleriIndirResponse" />
      <fault xmlns:ns131="http://www.w3.org/2007/05/addressing/metadata" ns131:Action="http://service.connector.uut.cs.com.tr/ConnectorService/gidenTasinanBelgeleriIndir/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="gelenIrsaliyeleriArsiveKaldir">
      <input xmlns:ns132="http://www.w3.org/2007/05/addressing/metadata" ns132:Action="http://service.connector.uut.cs.com.tr/ConnectorService/gelenIrsaliyeleriArsiveKaldirRequest" message="tns:gelenIrsaliyeleriArsiveKaldir" />
      <output xmlns:ns133="http://www.w3.org/2007/05/addressing/metadata" ns133:Action="http://service.connector.uut.cs.com.tr/ConnectorService/gelenIrsaliyeleriArsiveKaldirResponse" message="tns:gelenIrsaliyeleriArsiveKaldirResponse" />
    </operation>
    <operation name="gidenIrsaliyeleriArsiveKaldir">
      <input xmlns:ns134="http://www.w3.org/2007/05/addressing/metadata" ns134:Action="http://service.connector.uut.cs.com.tr/ConnectorService/gidenIrsaliyeleriArsiveKaldirRequest" message="tns:gidenIrsaliyeleriArsiveKaldir" />
      <output xmlns:ns135="http://www.w3.org/2007/05/addressing/metadata" ns135:Action="http://service.connector.uut.cs.com.tr/ConnectorService/gidenIrsaliyeleriArsiveKaldirResponse" message="tns:gidenIrsaliyeleriArsiveKaldirResponse" />
    </operation>
    <operation name="gidenBelgeTutarBilgileriSorgula">
      <input xmlns:ns136="http://www.w3.org/2007/05/addressing/metadata" ns136:Action="http://service.connector.uut.cs.com.tr/ConnectorService/gidenBelgeTutarBilgileriSorgulaRequest" message="tns:gidenBelgeTutarBilgileriSorgula" />
      <output xmlns:ns137="http://www.w3.org/2007/05/addressing/metadata" ns137:Action="http://service.connector.uut.cs.com.tr/ConnectorService/gidenBelgeTutarBilgileriSorgulaResponse" message="tns:gidenBelgeTutarBilgileriSorgulaResponse" />
    </operation>
    <operation name="gelenBelgeTutarBilgileriSorgula">
      <input xmlns:ns138="http://www.w3.org/2007/05/addressing/metadata" ns138:Action="http://service.connector.uut.cs.com.tr/ConnectorService/gelenBelgeTutarBilgileriSorgulaRequest" message="tns:gelenBelgeTutarBilgileriSorgula" />
      <output xmlns:ns139="http://www.w3.org/2007/05/addressing/metadata" ns139:Action="http://service.connector.uut.cs.com.tr/ConnectorService/gelenBelgeTutarBilgileriSorgulaResponse" message="tns:gelenBelgeTutarBilgileriSorgulaResponse" />
    </operation>
    <operation name="faturaMailGonder">
      <input xmlns:ns140="http://www.w3.org/2007/05/addressing/metadata" ns140:Action="http://service.connector.uut.cs.com.tr/ConnectorService/faturaMailGonderRequest" message="tns:faturaMailGonder" />
      <output xmlns:ns141="http://www.w3.org/2007/05/addressing/metadata" ns141:Action="http://service.connector.uut.cs.com.tr/ConnectorService/faturaMailGonderResponse" message="tns:faturaMailGonderResponse" />
      <fault xmlns:ns142="http://www.w3.org/2007/05/addressing/metadata" ns142:Action="http://service.connector.uut.cs.com.tr/ConnectorService/faturaMailGonder/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="irsaliyeMailGonder">
      <input xmlns:ns143="http://www.w3.org/2007/05/addressing/metadata" ns143:Action="http://service.connector.uut.cs.com.tr/ConnectorService/irsaliyeMailGonderRequest" message="tns:irsaliyeMailGonder" />
      <output xmlns:ns144="http://www.w3.org/2007/05/addressing/metadata" ns144:Action="http://service.connector.uut.cs.com.tr/ConnectorService/irsaliyeMailGonderResponse" message="tns:irsaliyeMailGonderResponse" />
      <fault xmlns:ns145="http://www.w3.org/2007/05/addressing/metadata" ns145:Action="http://service.connector.uut.cs.com.tr/ConnectorService/irsaliyeMailGonder/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="yolcuBeraberFaturaIptalEt">
      <input xmlns:ns146="http://www.w3.org/2007/05/addressing/metadata" ns146:Action="http://service.connector.uut.cs.com.tr/ConnectorService/yolcuBeraberFaturaIptalEtRequest" message="tns:yolcuBeraberFaturaIptalEt" />
      <output xmlns:ns147="http://www.w3.org/2007/05/addressing/metadata" ns147:Action="http://service.connector.uut.cs.com.tr/ConnectorService/yolcuBeraberFaturaIptalEtResponse" message="tns:yolcuBeraberFaturaIptalEtResponse" />
    </operation>
    <operation name="belgelerAlindiEntegrasyonSiparisNoGuncelle">
      <input xmlns:ns148="http://www.w3.org/2007/05/addressing/metadata" ns148:Action="http://service.connector.uut.cs.com.tr/ConnectorService/belgelerAlindiEntegrasyonSiparisNoGuncelleRequest" message="tns:belgelerAlindiEntegrasyonSiparisNoGuncelle" />
      <output xmlns:ns149="http://www.w3.org/2007/05/addressing/metadata" ns149:Action="http://service.connector.uut.cs.com.tr/ConnectorService/belgelerAlindiEntegrasyonSiparisNoGuncelleResponse" message="tns:belgelerAlindiEntegrasyonSiparisNoGuncelleResponse" />
      <fault xmlns:ns150="http://www.w3.org/2007/05/addressing/metadata" ns150:Action="http://service.connector.uut.cs.com.tr/ConnectorService/belgelerAlindiEntegrasyonSiparisNoGuncelle/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="gelenStandartRapolariAl">
      <input xmlns:ns151="http://www.w3.org/2007/05/addressing/metadata" ns151:Action="http://service.connector.uut.cs.com.tr/ConnectorService/gelenStandartRapolariAlRequest" message="tns:gelenStandartRapolariAl" />
      <output xmlns:ns152="http://www.w3.org/2007/05/addressing/metadata" ns152:Action="http://service.connector.uut.cs.com.tr/ConnectorService/gelenStandartRapolariAlResponse" message="tns:gelenStandartRapolariAlResponse" />
      <fault xmlns:ns153="http://www.w3.org/2007/05/addressing/metadata" ns153:Action="http://service.connector.uut.cs.com.tr/ConnectorService/gelenStandartRapolariAl/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="gelenTamamlananRapolariAl">
      <input xmlns:ns154="http://www.w3.org/2007/05/addressing/metadata" ns154:Action="http://service.connector.uut.cs.com.tr/ConnectorService/gelenTamamlananRapolariAlRequest" message="tns:gelenTamamlananRapolariAl" />
      <output xmlns:ns155="http://www.w3.org/2007/05/addressing/metadata" ns155:Action="http://service.connector.uut.cs.com.tr/ConnectorService/gelenTamamlananRapolariAlResponse" message="tns:gelenTamamlananRapolariAlResponse" />
      <fault xmlns:ns156="http://www.w3.org/2007/05/addressing/metadata" ns156:Action="http://service.connector.uut.cs.com.tr/ConnectorService/gelenTamamlananRapolariAl/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="wsKullanicisiKaydet">
      <input xmlns:ns157="http://www.w3.org/2007/05/addressing/metadata" ns157:Action="http://service.connector.uut.cs.com.tr/ConnectorService/wsKullanicisiKaydetRequest" message="tns:wsKullanicisiKaydet" />
      <output xmlns:ns158="http://www.w3.org/2007/05/addressing/metadata" ns158:Action="http://service.connector.uut.cs.com.tr/ConnectorService/wsKullanicisiKaydetResponse" message="tns:wsKullanicisiKaydetResponse" />
    </operation>
    <operation name="urunSablonlariniAl">
      <input xmlns:ns159="http://www.w3.org/2007/05/addressing/metadata" ns159:Action="http://service.connector.uut.cs.com.tr/ConnectorService/urunSablonlariniAlRequest" message="tns:urunSablonlariniAl" />
      <output xmlns:ns160="http://www.w3.org/2007/05/addressing/metadata" ns160:Action="http://service.connector.uut.cs.com.tr/ConnectorService/urunSablonlariniAlResponse" message="tns:urunSablonlariniAlResponse" />
    </operation>
    <operation name="faturaKepIleIadeEdildi">
      <input xmlns:ns161="http://www.w3.org/2007/05/addressing/metadata" ns161:Action="http://service.connector.uut.cs.com.tr/ConnectorService/faturaKepIleIadeEdildiRequest" message="tns:faturaKepIleIadeEdildi" />
      <output xmlns:ns162="http://www.w3.org/2007/05/addressing/metadata" ns162:Action="http://service.connector.uut.cs.com.tr/ConnectorService/faturaKepIleIadeEdildiResponse" message="tns:faturaKepIleIadeEdildiResponse" />
    </operation>
    <operation name="faturaKepIleIadeEdildiIptal">
      <input xmlns:ns163="http://www.w3.org/2007/05/addressing/metadata" ns163:Action="http://service.connector.uut.cs.com.tr/ConnectorService/faturaKepIleIadeEdildiIptalRequest" message="tns:faturaKepIleIadeEdildiIptal" />
      <output xmlns:ns164="http://www.w3.org/2007/05/addressing/metadata" ns164:Action="http://service.connector.uut.cs.com.tr/ConnectorService/faturaKepIleIadeEdildiIptalResponse" message="tns:faturaKepIleIadeEdildiIptalResponse" />
    </operation>
    <operation name="faturayaItirazEdildi">
      <input xmlns:ns165="http://www.w3.org/2007/05/addressing/metadata" ns165:Action="http://service.connector.uut.cs.com.tr/ConnectorService/faturayaItirazEdildiRequest" message="tns:faturayaItirazEdildi" />
      <output xmlns:ns166="http://www.w3.org/2007/05/addressing/metadata" ns166:Action="http://service.connector.uut.cs.com.tr/ConnectorService/faturayaItirazEdildiResponse" message="tns:faturayaItirazEdildiResponse" />
    </operation>
    <operation name="faturayaItirazEdildiIptal">
      <input xmlns:ns167="http://www.w3.org/2007/05/addressing/metadata" ns167:Action="http://service.connector.uut.cs.com.tr/ConnectorService/faturayaItirazEdildiIptalRequest" message="tns:faturayaItirazEdildiIptal" />
      <output xmlns:ns168="http://www.w3.org/2007/05/addressing/metadata" ns168:Action="http://service.connector.uut.cs.com.tr/ConnectorService/faturayaItirazEdildiIptalResponse" message="tns:faturayaItirazEdildiIptalResponse" />
    </operation>
    <operation name="toplamBelgeSayisiGetir">
      <input xmlns:ns169="http://www.w3.org/2007/05/addressing/metadata" ns169:Action="http://service.connector.uut.cs.com.tr/ConnectorService/toplamBelgeSayisiGetirRequest" message="tns:toplamBelgeSayisiGetir" />
      <output xmlns:ns170="http://www.w3.org/2007/05/addressing/metadata" ns170:Action="http://service.connector.uut.cs.com.tr/ConnectorService/toplamBelgeSayisiGetirResponse" message="tns:toplamBelgeSayisiGetirResponse" />
    </operation>
  </portType>
</definitions>